<h3>Edit Car</h3>


<div>
  <form *ngIf="!!car"  [formGroup]="editCarFormGroup" (ngSubmit)="handleEditCar()">
      <ng-container>
    <p class="field field-icon">
    <label for="make">Make</label>
    <input formControlName="make" type="text" name="make" id="make" placeholder="Car make..." [(ngModel)]="car.make">
  </p>
   <ng-container *ngIf="editCarFormGroup.controls['make'].touched && editCarFormGroup.controls['make'].invalid">
    <p *ngIf="editCarFormGroup.controls['make'].errors!['required']" class="alert alert-danger">
        Make is required!
  </p>
  
  <p  *ngIf="editCarFormGroup.controls['make'].errors!['minlength'] " class="alert alert-danger">
    Car make must be atleast 3 chracters long!
  </p>
  
  </ng-container> 
</ng-container>
<ng-container>
    <p class="field field-icon">
    <label for="model">Make</label>
    <input formControlName="model" type="text" name="model" id="model" placeholder="Car model..." [(ngModel)]="car.model">
  </p>
   <ng-container *ngIf="editCarFormGroup.controls['model'].touched && editCarFormGroup.controls['model'].invalid">
    <p *ngIf="editCarFormGroup.controls['model'].errors!['required']" class="alert alert-danger">
        Model is required!
  </p>
  
  <p  *ngIf="editCarFormGroup.controls['model'].errors!['minlength'] " class="alert alert-danger">
    Car make must be atleast 3 chracters long!
  </p>
  
  </ng-container> 
</ng-container>
<ng-container>
    <p class="field field-icon">
    <label for="imgUrl">Image Url</label>
    <input formControlName="imgUrl" type="text" name="imgUrl" id="imgUrl" placeholder="Car imgUrl..." [(ngModel)]="car.imgUrl">
  </p>
   <ng-container *ngIf="editCarFormGroup.controls['imgUrl'].touched && editCarFormGroup.controls['imgUrl'].invalid">
    <p *ngIf="editCarFormGroup.controls['imgUrl'].errors!['required']" class="alert alert-danger">
        imgUrl is required!
  </p>
  
  <p  *ngIf="editCarFormGroup.controls['imgUrl'].errors!['pattern'] " class="alert alert-danger">
    The image url is not valid!
  </p>
  
  </ng-container> 
</ng-container>
<ng-container>
    <p class="field field-icon">
    <label for="price">Price</label>
    <input formControlName="price" type="number" min="0" name="price" id="price" placeholder="Car price..." [(ngModel)]="car.price">
  </p>
   <ng-container *ngIf="editCarFormGroup.controls['price'].touched && editCarFormGroup.controls['price'].invalid">
    <p *ngIf="editCarFormGroup.controls['price'].errors!['required']" class="alert alert-danger">
        Price is required!
  </p>
  
  
  
  </ng-container> 
</ng-container>
<ng-container>
    <p class="field field-icon">
    <label for="year">Year</label>
    <input formControlName="year" type="number" min="0" name="year" id="year" placeholder="Car year of production..." [(ngModel)]="car.year">
  </p>
   <ng-container *ngIf="editCarFormGroup.controls['year'].touched && editCarFormGroup.controls['year'].invalid">
    <p *ngIf="editCarFormGroup.controls['year'].errors!['required']" class="alert alert-danger">
        Year is required!
  </p>
  
  </ng-container> 
</ng-container>
<ng-container>
    <p class="field field-icon">
    <label for="hp">Horsepower</label>
    <input formControlName="hp" type="number" min="0" name="hp" id="hp" placeholder="Car horsepower..." [(ngModel)]="car.hp">
  </p>
   <ng-container *ngIf="editCarFormGroup.controls['hp'].touched && editCarFormGroup.controls['hp'].invalid">
    <p *ngIf="editCarFormGroup.controls['hp'].errors!['required']" class="alert alert-danger">
        Horsepower is required!
  </p>

  </ng-container> 
</ng-container>
<ng-container>
    <p class="field field-icon">
    <label for="description">Short description</label>
    <input formControlName="description" type="text" name="description" id="description" placeholder="Car description..." [(ngModel)]="car.description">
  </p>
   <ng-container *ngIf="editCarFormGroup.controls['description'].touched && editCarFormGroup.controls['description'].invalid">
    <p *ngIf="editCarFormGroup.controls['description'].errors!['required']" class="alert alert-danger">
        Description is required!
  </p>
  
  <p  *ngIf="editCarFormGroup.controls['description'].errors!['minlength'] " class="alert alert-danger">
    Car description must be atleast 3 chracters long!
  </p>
  
  </ng-container> 
</ng-container>

<input type="submit" value="Edit Car">
  </form>
</div>