<h3>Login</h3>
<ng-container  *ngIf="error">
  <h2 class="err-msg" *ngIf="error.status==403">Wrong email or password!</h2>
  <h2 class="err-msg" *ngIf="error.status!=403">{{error.message}}</h2>
</ng-container>


<div>
  <form  [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
    <p class="field field-icon">
    <label for="email">Email</label>
    <input formControlName="email" type="text" name="email" id="email" placeholder="Your email..">
  </p>
  
   <ng-container *ngIf="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">
    <p *ngIf="loginFormGroup.controls['email'].errors!['required']" class="alert alert-danger">
      Email is required!
  </p>
  
  <p  *ngIf="loginFormGroup.controls['email'].errors!['email']" class="alert alert-danger">
    Email is invalid!
  </p>
  
  </ng-container> 
  
  <p class="field field-icon">
    <label for="Password">Password</label>
    <input formControlName="password" type="password" name="password" id="password" placeholder="Password...">
  </p>
  <ng-container *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
    <p *ngIf="loginFormGroup.controls['password'].errors!['required']" class="alert alert-danger">
      Password is required!
  </p>
  
  <p  *ngIf="loginFormGroup.controls['password'].errors!['minlength'] " class="alert alert-danger">
      Password must be at least 4 characters long!
  </p>
  
  </ng-container> 
  
    <input type="submit" value="Login">
    <a routerLink="/register">Register?</a>
  </form>
</div>