<section *ngIf="!!car" id="team-home">
    <article class="layout">
        <img [src]="car.imgUrl" class="team-logo left-col">
        <div class="tm-preview">
            <h2>{{car.make}} {{car.model}}</h2>
            <p>Price: {{car.price}}$</p>
            <p>Year: {{car.year}}</p>
            <p>Horsepower: {{car.hp}}hp</p>


           
            <!-- <div>
                <a href="#" class="action">Edit team</a>
                <a href="#" class="action">Join team</a>
                <a href="#" class="action invert">Leave team</a>
            </div> -->
        </div>
        <div class="pad-large">
            <h3>Decription:</h3>
            <p>{{car.description}}</p>
        </div>
        <div *ngIf="!!(isLoggedIn | async)" class="btns">
          
            <ng-container *ngIf="isCreator">
                <a [routerLink]="['/cars/edit', car._id]" class="action">Edit Car</a>
                <a href="javascript:void(0);" (click)="handleDelete()" class="action">Delete Car</a>
            </ng-container>
            <ng-container *ngIf="(!isCreator && !(isCarInFav | async))">
                <a href="javascript:void(0);" (click)="handleAddInFavs()"class="action">Add to favorites </a>
            </ng-container>
            <ng-container *ngIf="(!isCreator && !!(isCarInFav | async))">
                <a href="javascript:void(0);" (click)="handleRemoveFromFav()"class="action">Remove from favorites </a>
            </ng-container>
                
            
           
        </div>
    </article>
</section>